.right {
    padding-left: 50px;
    margin-top: 20px;
    flex-direction: row;
    font-size: 30px;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
    font-family: 'Roboto Condensed';

}

.left {
    font-family: 'Roboto Condensed';
    padding-left: 50px;
    margin-top: 20px;
    flex-direction: row;
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
    padding-right: 20px;
}

.image {
    font-size: 60px;
}

.image-title {
    text-align: center;
}

.image-description {
    font-family: 'Roboto Condensed';
    width: 100%;
}

.h4 {
    font-family: 'Roboto Condensed';
}



@media only screen and (min-width: 1024) {
    .things {
        display: flex;
    }

    .image-description {
        display: flex;
        font-family: 'Roboto Condensed';
    }

    .h4 {
        font-family: 'Roboto Condensed';
    }
}

@media only screen and (max-width: 1024) {
    .things {
        margin-bottom: 2rem;
    }

    .image-description {
        margin-bottom: 6rem;
        font-family: 'Roboto Condensed';

    }

    .h4 {
        font-family: 'Roboto Condensed';
    }
}